<div class="container-fluid">
<div class="content">
    <div class="row vh-100 d-flex align-items-center justify-content-center">
                <div class="col-sm-9 col-md-5 col-lg-5">
                    <div class=" w-100 ">
                        <div class="row px-5 py-3 rounded-3 mt-0 pt-0 border border-bottom-0 border-top-0 shadow-lg overflow-auto" style="background:#EEEEEE; max-height: 500px; overflow-y: scroll; scrollbar-width: none; -ms-overflow-style: none;">
                            <img src="assets/logo7.png" alt="" class="d-block mx-auto mt-3 pt-0" style="width: 250px;" height="150px">
                            <div class="col-12 mb-3">
                                <label for="inputPassword" class="form-label text-start">¿Cuál es el tipo de suelo predominante en tu terreno?</label>
                                <select class="d-block rounded-3 large" aria-label="Default select example">
                                    <option selected></option>
                                    <option value="1">Arenoso</option>
                                    <option value="2">Arcilloso</option>
                                    <option value="3">Franco</option>
                                    <option value="4">Limoso</option>
                                </select>
                            </div>
                            <div class="col-12 mb-3">
                                <label for="inputPassword" class="form-label text-start">¿El terreno es generalmente húmedo o seco?</label>
                                <select class="d-block rounded-3 large" aria-label="Default select example">
                                    <option selected></option>
                                    <option value="1">Muy húmedo</option>
                                    <option value="2">Moderadamente</option>
                                    <option value="3">húmedo</option>
                                    <option value="4">Seco</option>
                                </select>
                            </div>
                            <div class="col-12 mb-3">
                                <label for="inputPassword" class="form-label text-start">¿Qué tan bien drena el agua en tu terreno?</label>
                                <select class="d-block rounded-3 large" aria-label="Default select example">
                                    <option selected></option>
                                    <option value="1">Muy bien</option>
                                    <option value="2">Moderadamente bien</option>
                                    <option value="3">Mal</option>
                                    <option value="4">Se encharca con facilidad</option>
                                </select>
                            </div>
                            <div class="col-12 mb-3">
                                <label for="inputPassword" class="form-label text-start">¿Cuánta luz solar recibe el área de siembra diariamente?</label>
                                <select class="d-block rounded-3 large" aria-label="Default select example">
                                    <option selected></option>
                                    <option value="1">Menos de 4 horas</option>
                                    <option value="2">4-6 horas</option>
                                    <option value="3">6-8 horas</option>
                                    <option value="4">Más de 8 horas</option>
                                </select>
                            </div>
                            <div class="col-12 mb-3">
                                <label for="inputPassword" class="form-label text-start">¿Qué tipo de riego utilizas en tu terreno?</label>
                                <select class="d-block rounded-3 large" aria-label="Default select example">
                                    <option selected></option>
                                    <option value="1">Por goteo</option>
                                    <option value="2">Aspersión</option>
                                    <option value="3">Inundación</option>
                                    <option value="4">Riego manual</option>
                                </select>
                            </div>
                            <div class="col-12 mb-3">
                                <label for="inputPassword" class="form-label text-start">¿Qué tipo de fertilización sueles aplicar?</label>
                                <select class="d-block rounded-3 large" aria-label="Default select example">
                                    <option selected></option>
                                    <option value="1">Orgánica</option>
                                    <option value="2">Química</option>
                                    <option value="3">Ninguna</option>
                                </select>
                            </div>
                            <div class="col-12 mb-3">
                                <label for="inputPassword" class="form-label text-start">¿Has tenido problemas de plagas en tus cultivos anteriores?</label>
                                <select class="d-block rounded-3 large" aria-label="Default select example">
                                    <option selected></option>
                                    <option value="1">Sí</option>
                                    <option value="2">No</option>
                                </select>
                            </div>
                            <div class="col-12 mb-3">
                                <label for="inputPassword" class="form-label text-start">¿Cuál es el tamaño aproximado de tu terreno en hectáreas?</label>
                                <select class="d-block rounded-3 large" aria-label="Default select example">
                                    <option selected></option>
                                    <option value="1">Menos de 1 ha</option>
                                    <option value="2">1-5 ha</option>
                                    <option value="3">N5-10 ha</option>
                                    <option value="4">Más de 10 ha</option>
                                </select>
                            </div>
                            <div class="col-12 mb-3 text-center">
                                <button class="btn px-5 bg-danger text-light" onclick="SignUp()">REGISTRARME</button>
                            </div>
                            <div class="col-12 mb-3 text-center">
                                <label class="fw-medium">¡Ya tengo una cuenta, <a class="text-danger" href="index.html">iniciar sesion</a>!</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
</div>
</div>
