<div class="login-container">
    <div class="login-box">
      <img src="assets/logo7.png" alt="Agrosmart logo" class="logo">
      <form>
        <div class="input-group">
          <input type="text" placeholder="Usuario" />
        </div>
        <div class="input-group">
          <input type="password" placeholder="Contraseña" />
        </div>
        <div class="actions">
          <button type="submit">INICIAR SESIÓN</button>
          <a href="#" class="forgot-password">Recuperar contraseña</a>
        </div>
        <div class="register-link">
          <span>¡Aún no tengo cuenta, </span><a href="#">regístrame!</a>
        </div>
      </form>
    </div>
  </div>
  