<body>
  <div class="overlay"></div> 
  <div class="login-container">
      <div class="login-box">
          <img src="assets/logo7.png" alt="Agrosmart logo" class="logo">
          <form>
              <div class="input-group">
                <h3>Usuario</h3>
                  <input type="text">
              </div>
              <div class="input-group">
                <h3>Contraseña</h3>
                  <input type="password"/>
              </div>
              <div class="actions">
                <button type="submit">INICIAR SESIÓN</button>
                <div class="separator"></div> 
                <a href="#" class="forgot-password">Recuperar contraseña</a>
            </div>
              <div class="register-link">
                  <span>¡Aún no tengo cuenta, </span><a href="#">regístrame!</a>
              </div>
          </form>
      </div>
  </div>
</body>
