<div class="container mt-4">
    <h2>Informaciones Agrícolas</h2>
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <img src="ruta-a-imagen.jpg" class="card-img-top" alt="Agricultura">
                <div class="card-body">
                    <h5>Agricultura Regenerativa: Ventajas y Desventajas</h5>
                    <p>Publicado el 21/05/2024</p>
                </div>
            </div>
        </div>
        <!-- Repetir para cada tarjeta -->
    </div>
</div>