<div class="container-fluid gradient">
    <div class="content">
        <header class="">
            <nav class="mt-3 mx-2 d-flex align-items-center justify-content-between">
                <div class="d-flex align-items-center">
                    <!-- <app-menu class="m-5 pt-5"></app-menu> -->
                    <img src="/assets/logo5.png" alt="" width="200px" height="150px" class="d-inline ms-2">
                    <label for="" class="form-label fs-1 text-light ms-2">Monitoreo del clima</label>
                </div>
                <div class="d-flex align-items-center">
                    <button class="btn"><i class="bi bi-person-circle fs-3 text-light"></i></button>
                    <button class="btn"><i class="bi bi-caret-down fs-3 text-light"></i></button>
                </div>
            </nav>
            <hr class="custom-hr mb-4">
        </header>

        <main class="pb-5">
            <main class="pb-5">
                <div class="ms-5">
                <input type="text" class="form-control w-25 d-inline text-dark" placeholder="Enter a city" [(ngModel)]="selectedCity" />
                <button class="btn btn-primary ms-2" (click)="fetchWeatherData()">Get Weather</button>
                </div>
            
                <!-- <div *ngIf="weatherData" class="bg-light bg-opacity-50 rounded-3 p-3 scrollable-container mt-3">
                <label for="" class="fs-4">Today</label>
                <hr class="custom-hr mb-2">
                <div class="d-flex justify-content-center overflow-auto">
                    <div *ngFor="let hour of hourlyData" class="col text-center">
                    <label for="">{{ hour.time }}</label>
                    <img [src]="'/assets/' + getIcon(hour.weatherDescription)" alt="" width="40px" height="40px">
                    <label for="" class="d-block">{{ hour.temperature }}°</label>
                    </div>
                </div>
                </div> -->
            
            <div class="bg-light bg-opacity-50 rounded-3 p-3 scrollable-container mt-3 w-100">
                <div class="row">
                    <div class="col-12">
                    <label for="" class="fs-5">TODAY</label>
                    <hr class="custom-hr mb-2">
                      <div class="mt-3" *ngFor="let day of dailyForecast">
                        <label for="" class="me-4">{{ day.date | date:'EEEE' }}</label> <!-- Nombre del día -->
                        <img [src]="'/assets/clouds.png' + getIcon(day.weatherDescription)" class="ms-5 d-inline" width="40px" height="40px">
                        <label for="">{{ day.temperature }}°</label>
                    </div>
                    </div>
                </div>
                </div>
                <!-- <div class="d-flex justify-content-center overflow-auto">
                    <div class="col text-center">
                        <label for="">NOW</label>
                        <img src="/assets/logo5.png" alt="" width="40px" height="40px">
                        <label for="" class="d-block">30°</label>
                    </div>
                    <div class="col text-center">
                        <label for="">5 pm</label>
                        <img src="/src/assets/drizzle.png" alt="" width="40px" height="40px">
                        <label for="" class="d-block">29°</label>
                    </div>
                    <div class="col text-center">
                        <label for="">6 pm</label>
                        <img src="/assets/clouds.png" alt="" width="40px" height="40px">
                        <label for="" class="d-block">28°</label>
                    </div>
                    <div class="col text-center">
                        <label for="">7 pm</label>
                        <img src="Iconos/clouds.png" alt="" width="40px" height="40px">
                        <label for="" class="d-block">27°</label>
                    </div>
                    <div class="col text-center">
                        <label for="">7:15 pm</label>
                        <img src="Iconos/sunrise.png" alt="" width="40px" height="40px">
                        <label for="" class="d-block">Sunset</label>
                    </div>
                    <div class="col text-center">
                        <label for="">8 pm</label>
                        <img src="Iconos/cloudy-night.png" alt="" width="40px" height="40px">
                        <label for="" class="d-block">26°</label>
                    </div>
                    <div class="col text-center">
                        <label for="">9 pm</label>
                        <img src="Iconos/cloudy-night.png" alt="" width="40px" height="40px">
                        <label for="" class="d-block">26°</label>
                    </div>
                    <div class="col text-center">
                        <label for="">10 pm</label>
                        <img src="Iconos/cloudy-night.png" alt="" width="40px" height="40px">
                        <label for="" class="d-block">26°</label>
                    </div>
                    <div class="col text-center">
                        <label for="">11 pm</label>
                        <img src="Iconos/cloudy-night.png" alt="" width="40px" height="40px">
                        <label for="" class="d-block">26°</label>
                    </div>
                    <div class="col text-center">
                        <label for="">12 am</label>
                        <img src="Iconos/cloudy-night.png" alt="" width="40px" height="40px">
                        <label for="" class="d-block">25°</label>
                    </div>
                    <div class="col text-center">
                        <label for="">1 am</label>
                        <img src="Iconos/cloudy-night.png" alt="" width="40px" height="40px">
                        <label for="" class="d-block">25°</label>
                    </div>
                    <div class="col text-center">
                        <label for="">2 am</label>
                        <img src="Iconos/cloudy-night.png" alt="" width="40px" height="40px">
                        <label for="" class="d-block">25°</label>
                    </div>
                    <div class="col text-center">
                        <label for="">3 am</label>
                        <img src="Iconos/cloudy-night.png" alt="" width="40px" height="40px">
                        <label for="" class="d-block">25°</label>
                    </div>
                    <div class="col text-center">
                        <label for="">4 am</label>
                        <img src="Iconos/cloudy-night.png" alt="" width="40px" height="40px">
                        <label for="" class="d-block">25°</label>
                    </div>
                    <div class="col text-center">
                        <label for="">5 am</label>
                        <img src="Iconos/cloudy-night.png" alt="" width="40px" height="40px">
                        <label for="" class="d-block">25°</label>
                    </div>
                    <div class="col text-center">
                        <label for="">6 am</label>
                        <img src="Iconos/cloudy-night.png" alt="" width="40px" height="40px">
                        <label for="" class="d-block">25°</label>
                    </div>
                    <div class="col text-center">
                        <label for="">7 am</label>
                        <img src="Iconos/cloudy-night.png" alt="" width="40px" height="40px">
                        <label for="" class="d-block">25°</label>
                    </div>
                    <div class="col text-center">
                        <label for="">8 am</label>
                        <img src="Iconos/cloudy-night.png" alt="" width="40px" height="40px">
                        <label for="" class="d-block">25°</label>
                    </div>
                    <div class="col text-center">
                        <label for="">9 am</label>
                        <img src="Iconos/cloudy-night.png" alt="" width="40px" height="40px">
                        <label for="" class="d-block">25°</label>
                    </div>
                    <div class="col text-center">
                        <label for="">10 am</label>
                        <img src="Iconos/cloudy-night.png" alt="" width="40px" height="40px">
                        <label for="" class="d-block">25°</label>
                    </div>
                    <div class="col text-center">
                        <label for="">11 am</label>
                        <img src="Iconos/cloudy-night.png" alt="" width="40px" height="40px">
                        <label for="" class="d-block">25°</label>
                    </div>
                    <div class="col text-center">
                        <label for="">12 pm</label>
                        <img src="Iconos/cloudy-night.png" alt="" width="40px" height="40px">
                        <label for="" class="d-block">25°</label>
                    </div>
                    <div class="col text-center">
                        <label for="">1 pm</label>
                        <img src="Iconos/cloudy-night.png" alt="" width="40px" height="40px">
                        <label for="" class="d-block">25°</label>
                    </div>
                    <div class="col text-center">
                        <label for="">2 pm</label>
                        <img src="Iconos/cloudy-night.png" alt="" width="40px" height="40px">
                        <label for="" class="d-block">25°</label>
                    </div>
                    <div class="col text-center">
                        <label for="">3 pm</label>
                        <img src="Iconos/cloudy-night.png" alt="" width="40px" height="40px">
                        <label for="" class="d-block">25°</label>
                    </div>
                </div>-->

            <div class="div">
                    <div class="row">
                        <div class="col-4">
                            <div class="bg-light bg-opacity-50 rounded-3 p-3 scrollable-container mt-3 w-100 ">
                                <div class="row " >
                                    <div class="col-12">
                                        <label for="" class="fs-5">DAILY FORECAST</label>
                                        <hr class="custom-hr mb-2 ">
                    
                                        <div class="mt-3">
                                            <label for="" class="me-4">Today</label>
                                            <div class="d-inline me-4"  *ngFor="let day of dailyForecast">
                                                <label for="">{{ day.temperature }}°</label>
                                            </div>
                                            
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="mt-3">
                                            <label for="">Thursday</label>
                                            <img src="/assets/cloudy.png"  class="ms-5  d-inline" width="40px" height="40px">
                                            <label for="">29°</label>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="mt-3">
                                            <label for="" class="me-3">Friday</label>
                                            <img src="/assets/cloudy.png"  class="ms-5 d-inline" width="40px" height="40px">
                                            <label for="">21°</label>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="mt-3">
                                            <label for="">Saturday</label>
                                            <img src="/assets/cloudy.png"  class="ms-5 d-inline" width="40px" height="40px">
                                            <label for="">26°</label>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="mt-3">
                                            <label for="" class="me-1">Sunday</label>
                                            <img src="/assets/cloudy.png"  class="ms-5 d-inline" width="40px" height="40px">
                                            <label for="">22°</label>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="mt-3">
                                            <label for="" class="">Monday</label>
                                            <img src="/assets/storm.png"  class="ms-5 d-inline" width="40px" height="40px">
                                            <label for="">19°</label>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="mt-3 pb-5">
                                            <label for="">Tuesday</label>
                                            <img src="/assets/cloudy.png"  class="ms-5 d-inline" width="40px" height="40px">
                                            <label for="">25°</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="col-12">
                                <div class="bg-light bg-opacity-50 rounded-3 p-3 scrollable-container mt-3 w-100">
                                <div class="row">
                                    <div class="col-12">
                                    <label for="" class="fs-5">TEMPERATURE</label>
                                    <hr class="custom-hr mb-2">
                                    <div class="text-center">
                                        <label for="" class="fs-4 d-block">{{ weatherData.temperature }}°C</label>
                                    </div>
                                    </div>
                                </div>
                                </div>
                            </div>
                        

                            <div class="bg-light bg-opacity-50 rounded-3 p-3 scrollable-container mt-3 w-100">
                                <div class="row">
                                <div class="col-12">
                                    <label for="" class="fs-5">HUMIDITY</label>
                                    <hr class="custom-hr mb-2">
                                    <div class="text-center">
                                    <!-- Añadir el texto dinámico para la humedad -->
                                    <label for="" class="fs-4">{{ weatherData.humidity }}%</label>
                                    <!-- Añadir una etiqueta descriptiva si es necesario -->
                                    <!-- <label for="" class="fs-4 d-block">Normal</label> -->
                                    </div>
                                </div>
                                </div>
                            </div>
                            

                            <div class="bg-light bg-opacity-50 rounded-3 p-3 scrollable-container mt-3 w-100">
                                <div class="row">
                                <div class="col-12">
                                    <label for="" class="fs-5">AIR QUALITY</label>
                                    <hr class="custom-hr mb-2">
                                    <div class="text-center">
                                    <!-- Añadir el texto dinámico para la calidad del aire -->
                                    <label for="" class="fs-4">105</label> <!-- Este valor debería ser actualizado con datos reales si están disponibles -->
                                    <!-- <label for="" class="fs-4 d-block">Unhealthy</label> -->
                                    </div>
                                </div>
                                </div>
                            </div>
                            
                            
                        </div>
                        <div class="col-3">
                            <div class="bg-light bg-opacity-50 rounded-3 p-3 scrollable-container mt-3 w-100">
                                <div class="row">
                                <div class="col-12">
                                    <label for="" class="fs-5">WIND STATUS</label>
                                    <hr class="custom-hr mb-2">
                                    <div class="text-center">
                                    <label for="" class="fs-3">{{ weatherData.windSpeed }} km/h</label>
                                    </div>
                                </div>
                                </div>
                            </div>
                            

                            <div class="bg-light bg-opacity-50 rounded-3 p-3 scrollable-container mt-3 w-100">
                                <div class="row">
                                <div class="col-12">
                                    <label for="" class="fs-5">SUNRISE & SUNSET</label>
                                    <hr class="custom-hr mb-2">
                                    <div class="text-center">
                                    <div class="row">
                                        <div class="col-12">
                                        <label for="" class="text-center d-block">SUNRISE {{ weatherData.sunrise | date:'shortTime' }}</label>
                                        <label for="" class="text-center d-block"> SUNSET {{ weatherData.sunset | date:'shortTime' }}</label>
                                        </div>
                                    
                                    </div>
                                    </div>
                                </div>
                                </div>
                            </div>
                            

                            <div class="bg-light  rounded-3 p-3 scrollable-container my-3 w-100 text-center p-4">
                                <div class="row d-flex justify-content-center">
                                    <div class="col-12 text-center">
                                        <label for="" class="fs-5 mb-0 text-dark">WEATHER RECOMMENDATIONS</label>
                                        <hr class="custom-hr mb-2 text-dark w-100 " style="background-color: black;">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-2 d-flex justify-content-center align-items-center">
                            <button class="btn p-2"><img src="/assets/drag.png" alt="" width="100px" height="100px"></button>
                        </div>
                    </div>
            </div>
        </main>

        
