<img src="image (17).png" alt="" class="position-absolute top-0 start-0 mt-5 pt-5" width="400px" height="600px">
        <img src="image (16).png" alt="" class="position-absolute bottom-0 end-0" width="600px" height="400px">
        <div class="content">
            <header class="">
                <nav class="my-3 mx-2 d-flex align-items-center justify-content-between">
                    <div class="d-flex align-items-center">
                        <button class="btn"><i class="bi bi-list text-light fs-5"></i></button>
                        <img src="logo5.png" alt="" width="200px" height="150px" class="d-inline ms-2">
                        <label for="" class="form-label fs-1 text-light ms-2">Calendario de tareas</label>
                    </div>
                    <div class="d-flex align-items-center">
                        <button class="btn"><i class="bi bi-person-circle fs-3 text-light"></i></button>
                        <button class="btn"><i class="bi bi-caret-down fs-3 text-light"></i></button>
                    </div>
                </nav>
            </header>
        
            <main>
                <div class=" text-center mb-4">
                    <div class="d-inline border rounded-5 py-4 px-4">
                        <label for="" class="fs-4 text-light px-2">Septiembre 2024</label>
                        <button class="btn"><i class="bi bi-caret-up-fill text-light"></i></button>
                        <button class="btn"><i class="bi bi-caret-down-fill text-light"></i></button>
                    </div>
        
                    <div class="d-inline float-end">
                        <button class="btn"><i class="bi bi-view-list text-light fs-2"></i></button>
                        <button class="btn"><i class="bi bi-search text-light fs-2"></i></button>
                        <button class="btn"><i class="bi bi-plus-lg text-light fs-2"></i></button>
                    </div>
                </div>
                <table class="table-bordered border-light text-light my-4 custom-opacity">
                    <thead class="text-center m-3">
                        <tr class="">
                            <th scope="col" class="text-light">Domingo</th>
                            <th scope="col" class="text-light">Lunes</th>
                            <th scope="col" class="text-light">Martes</th>
                            <th scope="col" class="text-light">Miércoles</th>
                            <th scope="col" class="text-light">Jueves</th>
                            <th scope="col" class="text-light">Viernes</th>
                            <th scope="col" class="text-light">Sábado</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row"></th>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <th scope="row"></th>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <th scope="row"></th>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <th scope="row"></th>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <th scope="row"></th>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
        
                <button class="btn exportar text-light rounded-5 px-5" style="background-color: #448615;margin-left: 150px;">Exportar</button>
            </main>
        </div>
