* {
    font-family: Poppins;
    color: #76796A;
    font-size: medium;
}


::-webkit-scrollbar {
    display: none;
}

/* .exportar {
    background-color: #448615;
    color: white;
} */

.gradient {
    position: relative;
    background-image: url('/assets/gradient.png');
    background-size: cover;
    background-position: center;
    height: auto;
}

.container-fluid::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 1;
}

.container-fluid .content {
    position: relative;
    z-index: 2; 
    color: white; 
}

/* btn.exportar{
    background-color: #448615;
} */

table{

    width: 1670px;
    height: 600px;
    color: #ffffff;
}

.custom-hr {
    border: none; 
    height: 3px;
    background-color: #ffffff; 
    margin: 0; 
    width: 100vw; 
}

.scrollable-container {
    width: 1500px;
    max-height: 450px; 
    overflow-y: auto; 
    padding-right: 15px;
}

.dia {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    border: 1px solid #ffffff;
    border-radius: 50%; 
    margin-left: 20px;
    padding-top: 7px;
    color: rgb(255, 254, 254);
    margin-bottom: 30px;
}

.dia-actual {
    background-color: red;
    color: white;
    font-weight: bold;
}

.text-muted {
    color: rgb(167, 59, 59);
}

.day-other-month {
    background-color: hsla(0, 0%, 47%, 0.568); 
    color: #611b1b !important; 
}

.task{
    font-size: larger;
    border-radius: 5%;
    padding: 10px;
    width: 100%;
    background-color: #ffffff8d;
}

