<div class="container-foro">
  <header class="transparent-header">
    <div class="header-left">
      <app-menu></app-menu>
      <div class="image-container">
      <img src="/assets/logo5.png" alt="Logo Foro" class="logo">
      <div class="overlay-text">
        Foro
      </div>
    </div>
    </div>
    <div class="header-right">
      <i class="fi fi-sr-circle-user user-icon"></i> 
    </div>
  </header>

  <div class="foro-container">
    <div class="search-bar">
      <input type="text" placeholder="Buscar publicaciones..." [(ngModel)]="searchTerm"(input)="filterPosts()"class="search-bar"/>
      <i class="fas fa-search search-icon"></i>

      <select class="filter-categories">
        <option value="">Categorías</option>
        <option value="categoria1">Categoría 1</option>
        <option value="categoria2">Categoría 2</option>
      </select>
    </div>
<div class="fondo-container">
  <button class="btn-add-entry" (click)="toggleModal()">Añadir entrada</button>

  <div class="modal" *ngIf="showModal">
    <div class="modal-content">
      <h3>Añadir nueva entrada</h3>
      <form #postForm="ngForm" (ngSubmit)="submitPost(postForm.value)">
        <div>
          <label for="titulo">Título:</label>
          <input type="text" id="titulo" name="titulo" ngModel required>
        </div>
        <div>
          <label for="descripcion">Descripción:</label>
          <textarea id="descripcion" name="descripcion" ngModel required></textarea>
        </div>
        <button type="submit" [disabled]="!postForm.valid">Guardar</button>
        <button type="button" (click)="toggleModal()">Cancelar</button>
      </form>
    </div>
  </div>
  
  <div *ngFor="let publicacion of publicaciones" class="card">
    <div class="card-content">
      <div class="header-content">
        <div class="user-info">
          <i class="fas fa-user"></i> 
        </div>
        <div class="title-info">
          <h4>{{ publicacion.titulo }}</h4> 
          <p class="publication-meta">Publicado el {{ publicacion.fecha }}</p>
        </div>
      </div>
      <div class="description">
        <p>{{ publicacion.descripcion }}</p> <!-- Contenido del post -->
      </div>
      <a [routerLink]="['/foro', publicacion.id]" class="btn btn-primary">Ver discusión</a>
    </div>
  </div>
  
  <div class="modal" *ngIf="showModal">
    <div class="modal-content">
      <h3>Añadir nueva entrada</h3>
      <form #entryForm="ngForm" (ngSubmit)="submitPost(entryForm.value)">
        <div>
          <label for="titulo">Título del Topic:</label>
          <input type="text" id="titulo" name="titulo" ngModel required>
        </div>
        <div>
          <label for="descripcion">Contenido del Post:</label>
          <textarea id="descripcion" name="descripcion" ngModel required></textarea>
        </div>
        <button type="submit" [disabled]="!entryForm.valid">Guardar</button>
        <button type="button" (click)="toggleModal()">Cancelar</button>
      </form>
    </div>
  </div>
  
    
    </div>
  </div>
</div>