<div class="content">
    <div class="row vh-100 d-flex align-items-center justify-content-center">
        <div class="col-sm-9 col-md-5 col-lg-5">
            <div class=" w-100">
                <div class="row px-5 py-3 rounded-3 mt-0 pt-0 border border-bottom-0 border-top-0 shadow-lg" style="background:#EEEEEE; ">
                    <div class="d-block">
                        <img src="/src/assets/logo7.png" alt="" class=" registro d-block mx-auto mt-3 pt-0">
                    </div>
                    <div class="col-6 mb-3">
                        <label class="form-label text-start">Nombre</label>
                        <input type="text" class="d-block rounded-3">
                    </div>
                    <div class="col-6 mb-3">
                        <label class="form-label text-start">Apellidos</label>
                        <input type="text" class="d-block rounded-3">
                    </div>
                    <div class="col-12 mb-3">
                        <label class="form-label text-start">Nombre de Usuario</label>
                        <input type="text" class="d-block rounded-3">
                    </div>
                    <div class="col-12 mb-3">
                        <label class="form-label text-start">Correo electrónico</label>
                        <input type="email" class="d-block rounded-3">
                    </div>
                    <div class="col-12 mb-3">
                        <label class="form-label text-start">Contraseña</label>
                        <input type="password" class="d-block rounded-3">
                    </div>
                    <div class="col-12 mb-3">
                        <label class="form-label text-start">Confirmar contraseña</label>
                        <input type="password" class="d-block rounded-3">
                    </div>
                    <div class="col-12 mb-3 text-center">
                        <button class="btn px-5 bg-danger text-light">SIGUIENTE</button>
                    </div>
                    <div class="col-12 mb-1 text-center">
                        <label class="fw-medium">¡Ya tengo una cuenta, <a class="text-danger" href="index.html">iniciar sesion</a>!</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
