<div class="dashboard-container">
  <header class="transparent-header">
    <div class="header-left">
      <app-menu></app-menu>
      <div class="image-container">
        <img src="/assets/logo5.png" alt="Logo Foro" class="logo">
        <div class="overlay-text">Dashboard</div>
      </div>
    </div>
    <div class="header-right">
      <i class="fi fi-sr-circle-user user-icon"></i>
    </div>
  </header>

  <div class="content">
    <div class="grid-container">
      <div class="card temperatura">
        <h5>TEMPERATURA</h5>
        <p class=" temperature-value" >{{ temperature }}°C</p>  <!-- Mostrar la temperatura obtenida -->
      </div>
      <div class="card humedad">
        <h5>HUMEDAD</h5>
        <p class="humidity-value">{{ humidity }}%</p>  <!-- Mostrar la humedad obtenida -->
        <p>{{ weatherDescription }}</p>  <!-- Descripción del clima -->
      </div>
      <div class="card insumos">
        <h5>INSUMOS EN STOCK</h5>
        <img src="/assets/insumos.png" class="card-image-full" alt="Insumos en Stock">
      </div>

      <div class="card tareas text-left">
        <h5>PRÓXIMAS TAREAS</h5>
        <ul>
          <li *ngFor="let tarea of tareas">
            <input type="checkbox" [checked]="tarea.isCompleted">
            <label>{{ tarea.title }}</label>
            <p class="due-date">{{ tarea.startDate | date: 'shortDate' }}</p>
          </li>
        </ul>
      </div>
      
      <div class="card riesgo text-left">
        <h5>PRECIPITACIÓN VS RIESGO</h5>
        <img src="/assets/graphic.png" class="card-image-large" alt="Gráfico de Precipitación vs Riesgo">
      </div>
      <div class="card recomendaciones">
        <h5>RECOMENDACIONES</h5>
        <div class="content">
          <div class="grid-container">
            <div *ngFor="let recomendacion of recomendaciones; let i = index">
              <!-- Mostrar las tres primeras recomendaciones -->
              <div *ngIf="i < 3">
                <p><strong>Descripción:</strong> {{ recomendacion.recomendacion.descripcionRecomendacion }}</p>
                <p><strong>Razón:</strong> {{ recomendacion.recomendacion.razonRecomendacion }}</p>
                <p><strong>Pasos a seguir:</strong> {{ recomendacion.recomendacion.pasosASeguir }}</p>
                <p><strong>Consejos de cuidado:</strong> {{ recomendacion.recomendacion.consejosDeCuidado }}</p>
              </div>
            </div>
          </div>
        </div>       
      </div>
    </div>
  </div>