
        <img src="/src/assets/images/bgleaves.png" alt="" class="position-absolute top-0 start-0 mt-5 pt-5" width="400px" height="600px">
        <img src="/src/assets/images/bgleaves2.png" alt="" class="position-absolute bottom-0 end-0" width="600px" height="400px">
        <div class="content">
            <header class="">
                <nav class="my- mx-2 d-flex align-items-center justify-content-between">
                    <div class="d-flex align-items-center">
                        <button class="btn"><i class="bi bi-list text-light fs-5"></i></button>
                        <img src="/src/assets/images/logo5.png" alt="" width="200px" height="150px" class="d-inline ms-2">
                        <label for="" class="form-label fs-1 text-light ms-2">Inventario</label>
                    </div>
                    <div class="d-flex align-items-center">
                        <button class="btn"><i class="bi bi-person-circle fs-3 text-light"></i></button>
                        <button class="btn"><i class="bi bi-caret-down fs-3 text-light"></i></button>
                    </div>
                </nav>
                <hr class="custom-hr mb-4">
            </header>
        
            <main>
                <div class=" text-start mb-4 ms-5">
                    <div class="d-inline border rounded-5 py-3 px-5 text-start">
                        <label for="" class="fs-4 text-light fw-bold">MIS CULTIVOS</label>
                    </div>
        
                    <div class="d-inline float-end">
                        <button class="btn"><i class="bi bi-search text-light fs-2"></i></button>
                        <button class="btn"><i class="bi bi-plus-lg text-light fs-2"></i></button>
                    </div>
                </div>

                <div class="bg-light bg-opacity-75 rounded-3 p-3 scrollable-container">
                    <div class="rounded-3 bg-light mb-3">
                        <div class="row">
                            <div class="col-3">
                                <section class="text-center">
                                    <img src="/src/assets/images/tomate.png" alt="" width="200px" height="200px">
                                    <label for="" class="fs-1 fw-bold d-block my-0" style="color: #4E702D;">30%</label>
                                </section>
                            </div>
                            <div class="col-5">
                                <section class="text-light ">
                                    <label for="" class="d-block py-2 px-3 fs-5 inventario text-light m-3 ">Nombre del Cultivo:</label>
                                    <label for="" class="d-block py-2 px-3 fs-5 inventario text-light m-3 ">Variedad: </label>
                                    <label for="" class="d-block py-2 px-3 fs-5 inventario text-light m-3 ">Fecha de Siembra:</label>
                                    <label for="" class="d-block py-2 px-3 fs-5 inventario text-light m-3 ">Fecha de Cosecha:</label>
                                </section>
                            </div>
                            <div class="col-3 d-flex align-items-center justify-content-center">
                                <section class="text-center">
                                    <button class="verMas rounded-5 py-2 px-5 fs-4 fw-bold text-light ms-5">Ver más</button>
                                </section>
                            </div>
                        </div>
                    </div>
                    <div class="rounded-3 bg-light mb-3">
                        <div class="row">
                            <div class="col-3">
                                <section class="text-center">
                                    <img src="/src/assets/images/maiz.png" alt="" width="200px" height="200px">
                                    <label for="" class="fs-1 fw-bold d-block my-0" style="color: #4E702D;">55%</label>
                                </section>
                            </div>
                            <div class="col-5">
                                <section class="text-light ">
                                    <label for="" class="d-block py-2 px-3 fs-5 inventario text-light m-3 ">Nombre del Cultivo:</label>
                                    <label for="" class="d-block py-2 px-3 fs-5 inventario text-light m-3 ">Variedad: </label>
                                    <label for="" class="d-block py-2 px-3 fs-5 inventario text-light m-3 ">Fecha de Siembra:</label>
                                    <label for="" class="d-block py-2 px-3 fs-5 inventario text-light m-3 ">Fecha de Cosecha:</label>
                                </section>
                            </div>
                            <div class="col-3 d-flex align-items-center justify-content-center">
                                <section class="text-center">
                                    <button class="verMas rounded-5 py-2 px-5 fs-4 fw-bold text-light ms-5">Ver más</button>
                                </section>
                            </div>
                        </div>
                    </div>
                    <div class="rounded-3 bg-light mb-3">
                        <div class="row">
                            <div class="col-3">
                                <section class="text-center">
                                    <img src="/src/assets/images/pepino.png" alt="" width="200px" height="200px">
                                    <label for="" class="fs-1 fw-bold d-block my-0" style="color: #4E702D;">15%</label>
                                </section>
                            </div>
                            <div class="col-5">
                                <section class="text-light ">
                                    <label for="" class="d-block py-2 px-3 fs-5 inventario text-light m-3 ">Nombre del Cultivo:</label>
                                    <label for="" class="d-block py-2 px-3 fs-5 inventario text-light m-3 ">Variedad: </label>
                                    <label for="" class="d-block py-2 px-3 fs-5 inventario text-light m-3 ">Fecha de Siembra:</label>
                                    <label for="" class="d-block py-2 px-3 fs-5 inventario text-light m-3 ">Fecha de Cosecha:</label>
                                </section>
                            </div>
                            <div class="col-3 d-flex align-items-center justify-content-center">
                                <section class="text-center">
                                    <button class="verMas rounded-5 py-2 px-5 fs-4 fw-bold text-light ms-5">Ver más</button>
                                </section>
                            </div>
                        </div>
                    </div>
                </div>
                
            </main>
        </div>