* {
    font-family: Poppins;
    color: #76796A;
    font-size: medium;
}

::-webkit-scrollbar {
    display: none;
}

.gradient {
    position: relative;
    background-image: url('/assets/gradient.png');
    background-size: cover;
    background-position: center;
    height: auto;
}

.container-fluid::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 1;
}

.container-fluid .content {
    position: relative;
    z-index: 2; 
    color: white; 
}

.custom-hr {
    border: none; 
    height: 3px;
    background-color: #ffffff; 
    margin: 0; 
    width: 100vw; 
}

.inventario{

    background-color: #4E702D;
    opacity: 0.7;
}

.scrollable-container {
    height: 620px; 
    overflow-y: auto; 
    padding-right: 15px;
}

.modal-content {
    padding: 20px;
    border-radius: 8px;
    background-color: #fff;
}

.modal-header {
    border-bottom: 1px solid #e0e0e0;
}

.modal-title {
    font-size: 1.5rem;
    font-weight: 600;
    color: #333;
}

/* .btn-close {
    background: none;
    border: none;
    font-size: 1.5rem;
} */

.modal-body {
    padding: 20px;
}

form div {
    margin-bottom: 15px;
}

label {
    font-size: 1rem;
    font-weight: 500;
    color: #ffffff;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
}

input[type="date"] {
    cursor: pointer;
}

textarea {
    min-height: 100px;
    resize: vertical;
}

button[type="submit"] {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
}


.cancelar{
    padding: 10px 20px;
    border-radius: 4px;
    margin-left: 10px;
}

