<div class="container-fluid container-news">
  <header class="transparent-header">
    <div class="header-left">
      <app-menu></app-menu>
      <div class="image-container">
        <img src="/assets/logo5.png" alt="Logo" class="logo">
        <div class="overlay-text">Informaciones Agricolas</div>
      </div>
    </div>
    <div class="header-right">
      <i class="fi fi-sr-circle-user user-icon"></i> 
    </div>
  </header>

  <div class="action-buttons">
    <button class="btn-back" (click)="goBack()">
      <i class="fas fa-arrow-left"></i> 
    </button>
  </div>

  <div class="news-container">
    <div class="fondo-container">
      <div class="article-content">
        <img [src]="article.imageUrl" alt="{{ article.title }}" class="article-image">
        <p class="publication-date">Publicado el {{ article.date }}</p>
        <h1 class="article-title">{{ article.title }}</h1>
        <div class="article-body">
          <p>{{ article.content }}</p>
        </div>
      </div>
    </div>
  </div>
</div>