<div class="container-foro">
  <header class="transparent-header">
    <div class="header-left">
      <app-menu></app-menu>
      <div class="image-container">
        <img src="/assets/logo5.png" alt="Logo Foro" class="logo">
        <div class="overlay-text">Informaciones Agricolas</div>
      </div>
    </div>
    <div class="header-right">
      <i class="fi fi-sr-circle-user user-icon"></i> 
    </div>
  </header>

  <div class="news-detail-container">
    <img src="src\assets\fondo1.png" alt="News Image" class="news-image">
    <div class="news-content">
      <h2 class="news-category">Category: Agriculture</h2>
      <h1 class="news-title">Agricultura Regenerativa: Ventajas y Desventajas</h1>
      <p class="news-date">Publicado el 21/05/2024</p>
      <p class="news-body">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua...
      </p>
      <p class="news-body">
        Curabitur pretium tincidunt lacus. Nulla gravida orci a odio. Nullam varius, turpis et commodo pharetra, est eros bibendum elit...
      </p>
    </div>
  </div>
  