<div class="container-fluid">
  <div class="container-foro">
    <header class="transparent-header">
      <div class="header-left">
        <app-menu></app-menu>
        <div class="image-container">
          <img src="/assets/logo5.png" alt="Logo Foro" class="logo">
          <div class="overlay-text">Foro</div>
        </div>
      </div>
      <div class="header-right">
        <i class="fi fi-sr-circle-user user-icon"></i>
      </div>
    </header>

    <div class="foro-container">
      <div class="fondo-container">
        <!-- Botón para volver al foro -->
        <button class="btn btn-secondary back-btn" (click)="goBack()">
          <i class="fas fa-arrow-left"></i> Volver al Foro
        </button>
    
        <!-- Mostrar el topic (tema) y el post -->
        <div class="card mb-3" *ngIf="topic && post">
          <div class="card-content p-3">
            <div class="user-title-info">
              <i class="fas fa-user user-icon"></i>
              <div class="title-meta">
                <h4>{{ topic.title }}</h4>
                <p class="publication-meta text-muted">
                  Publicado por {{ username }} el {{ post.date }}
                </p>                
                
                
              </div>
            </div>
            
            <div class="description">
              <p class="description-text">{{ post.content }}</p> <!-- Contenido de la publicación -->
            </div>
          </div>
        </div>

<!-- Botón para añadir comentario -->
<button class="btnAdd" (click)="toggleModal()">Añadir comentario</button>

<!-- Modal para añadir comentario -->
<div *ngIf="showModal" class="modal show">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Añadir comentario</h5>
        <button type="button" class="btn-close" (click)="toggleModal()"></button>
      </div>
      <div class="modal-body">
        <textarea [(ngModel)]="submitContent" class="form-control" placeholder="Escribe tu comentario..." rows="4"></textarea>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="toggleModal()">Cerrar</button>
        <button type="button" class="btn btn-primary" (click)="addComment()">Agregar Comentario</button>
      </div>
    </div>
  </div>
</div>


        <!-- Mostrar los comentarios -->
        <div class="comments-section" *ngIf="comments.length > 0">
          <h5>Comentarios</h5>
          <div *ngFor="let comment of comments" class="comment">
            <i class="fas fa-user comment-user-icon"></i>
            <div class="comment-content">
              <h6>{{ comment.username }}</h6>  <!-- Nombre de usuario -->
              <p>{{ comment.content }}</p>
              <span class="comment-date">{{ comment.date | date:'short' }}</span> <!-- Fecha -->
            </div>
          </div>
        </div>
        
        