<div class="container-foro">
  <header class="transparent-header">
    <div class="header-left">
      <app-menu></app-menu>
      <div class="image-container">
        <img src="/assets/logo5.png" alt="Logo Foro" class="logo">
        <div class="overlay-text">Foro</div>
      </div>
    </div>
    <div class="header-right">
      <i class="fi fi-sr-circle-user user-icon"></i> 
    </div>
  </header>

  <div class="foro-container">
    <div class="search-bar">
      <input type="text" class="form-control" placeholder="Buscar...">
      <i class="fas fa-search search-icon"></i> 
      <select class="filter-categories">
        <option value="">Categorías</option>
        <option value="categoria1">Categoría 1</option>
        <option value="categoria2">Categoría 2</option>
      </select>
    </div>

    <div class="fondo-container scrollable-container ms-2">
      <button class="btn-go-back"><i class="fa-solid fa-arrow-left"></i></button>
      <div class="card">
        <div class="card-content">
          <div class="header-content">
            <div class="user-info">
              <i class="fas fa-user"></i> 
            </div>
            <div class="title-info">
              <h4>Recomendaciones de pesticidas</h4>
              <p class="publication-meta">Publicado por Hilari Medina el 19/09/2024</p>
            </div>
          </div>
          <div class="description">
            <p>Hola. Bueno, desde hace ya varias semanas he notado que el pesticida que tengo ya no está trayendo los resultados que espero.

            <p>De paso, siento que me está haciendo daño en mi salud, tengo desde hace ya un tiempo con tos y fatiga y no sé si se deba al pesticida pues desde que empecé a usarlo es que me pasa esto.</p>
              
              <p>¿Alguna recomendación? Que sea un poco barato también, por favor.</p>
          </div>
        </div>
      </div>

      <div class="comments-section">
        <h5>Comentarios</h5>
        
        <div *ngFor="let comentario of comentarios" class="comment">
          <div class="user-info">
            <i class="fas fa-user"></i> 
          </div>
          <div class="comment-content">
            <h6>{{ comentario.userId }}</h6>
            <p>{{ comentario.content }}</p>
          </div>
        </div>

        <div class="comment">
          <div class="user-info">
            <i class="fas fa-user"></i> 
          </div>
            <div class="comment-content">
            <h6>Gabriela González</h6>
            <p>Mi abuela me enseñó una opción casera es un spray de ajo y jabón. Solo necesitas triturar unos dientes de ajo, mezclarlos con agua, agregar un poco de jabón líquido biodegradable y rociar las plantas afectadas. Este spray repele muchos insectos sin dañar el ambiente.</p>
          </div>
        </div>
        <div class="add-comment">
          <input 
            type="text" 
            placeholder="Añadir un comentario..." 
            class="comment-input" 
            [(ngModel)]="nuevoComentario">
          <button class="btn-comment" (click)="agregarComentario()">Comentar</button>
        </div>
      </div>
    </div>
  </div>
</div>
